.masthead .banner {
  background-color: #fff3c6;
}

.masthead .banner h1 {
  color: #333333;
  text-shadow: #fff3c6 0em 0em 0.2em;
  filter: dropshadow(color=#fff3c6, offx=1, offy=1);
}

body {
  background-color: #2d3647;
}

.container {
  background-color: white;
}

.container {
  box-shadow: 1em 2em 3em #161b23;
  -mox-box-shadow: 1em 2em 3em #161b23;
  -webkit-box-shadow: 1em 2em 3em #161b23;
}

.main-menu li {
  background-color: #ccdfa7;
}

.main-menu li.current {
  background-color: #99cc88;
}

.main-menu a,
.main-menu a:hover,
.main-menu a:visited,
.main-menu a:active,
.main-menu a:link {
  color: black;
}

a {
  color: black;
}

a:hover,
a:visited,
a:active {
  color: #333333;
}

.info {
  background-color: #e5efd3;
}
