.main-menu li.current {
  background: #cccccc;
}

.main-menu a,
.main-menu a:hover,
.main-menu a:visited,
.main-menu a:active,
.main-menu a:link {
  color: black;
}

a {
  color: black;
}

a:link {
  color: #333333;
}

a:link:visited {
  color: #333333;
}

a:link:active {
  color: #333333;
}
