

/*  Typography  */

body {
    font-family: georgia, serif;
    font-size: 14px;
    margin: 0px;
}

h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.9em;
    margin: .3em 0px;
}

p, div.vcard {
    margin: 0em 0em 1em 0em;
}

ul {
    margin: 0% 0% 1em 0em;
}

.footer {
    text-align: center;
    margin-top: 1em;
}

.footer div.vcard .adr div {
    display: inline;
}

.main-menu li {
    text-align: center;
    text-transform: uppercase;
}

.main-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/*   Layout  */

.masthead .banner {
    width: 100%;
    height: 6em;
    background-image: url(../images/banner-large.jpg);
    background-position: right 60%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.masthead .banner h1 {
    margin: 0em 4%;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    bottom: 0em;
}

ul.plain {
    padding: 0em 1em;
}

ul.plain li {
    list-style-type: none;
}

ul.main-menu {
    padding: 0%;
}

.main-menu li {
    display: block;
    float: left;
    width: 50%;
}

.main-menu li a {
    display: block;
    width: 100%;
    padding: .5em 0em;
}

.main-menu li.last {
    clear: right;
}

.main, .side {
    padding: 0% 4%;
}

.info {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.info ul {
    padding-left: 2em;
}

ul.centered-logos {
    text-align: center;
    height: 4em;
    padding: 0em;
}

.centered-logos li {
    display: inline;
}

.centered-logos li img {
    max-height: 4em;
}

.internal-note {
    display: none;
}

.container {
    padding-bottom: 2em;
}

.clear {
    clear: both;
}

@media all and (min-width: 40em) {
    $totalWidth: 100%;
    $padding: 2%;
    $mainWidth: 66.666667%;
    $sideWidth: $totalWidth - $mainWidth;
    $borderPercent: 4%;

    $mainPercent: $mainWidth - 3 * $padding;
    $sidePercent: $sideWidth - 3 * $padding;

    $mainWidthSingle: $totalWidth - 4 * $padding;

    .masthead .banner h1 {
        font-size: 1.7em;
        margin: 0em 4%;
    }

    .container {
        width: 90%;
        max-width: 50em;
        margin: auto;
        border-radius: 0em 0em .5em .5em;
    }

    .main-menu li {
        display: block;
        float: left;
        width: 16.66666667%;
    }

    .main-menu li a {
        display: block;
        width: 100%;
        padding: .5em 0em;
    }

    .main {
        padding: 0px $padding 0px $padding*2;
        width: $mainPercent;
        float: left;
    }

    .side {
        padding: 0px $padding*2 0px $padding;
        width: $sidePercent;
        float: right;
    }

    .single-column .main {
        padding: 0px $padding*2;
        width: $mainWidthSingle;
    }

    .info {
        margin: $padding;
        border: 1px solid black;
        padding: 0% $padding;
    }
}